# Binaries for programs and plugins
bin/
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Coverage-related files
coverage/
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Editor files
*~
*.swp
tmp/

vendor/
_vendor-*/
